@model ThriveWebApp.Models.UserModel
@{
    ViewBag.Title = "Register";
}

<h3>Please fill the form bellow to Register</h3>
<div>
    @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
        <p>
            @Html.ValidationSummary(false, "", new { @class = "error" })
        </p>
       
        <p>
            <span class="newline"> @Html.LabelFor(u => u.FirstName)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.FirstName)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.LastName)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.LastName)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Email)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.Email)
        </p>

        <p>
            <span class="newline"> @Html.LabelFor(u => u.Address)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.Address)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.City)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.City)
        </p>
        
        <p>
            <span class="newline"> @Html.LabelFor(u => u.County)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.County)
        </p>

        <p>
            <span class="newline"> @Html.LabelFor(u => u.Country)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.Country)
        </p>

        <p>
            <span class="newline"> @Html.LabelFor(u => u.Phone)&nbsp;(Required)</span>
            @Html.TextBoxFor(u => u.Phone)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.Password)&nbsp;(Required)</span>
            @Html.PasswordFor(u => u.Password)
        </p>
        <p>
            <span class="newline"> @Html.LabelFor(u => u.ConfirmPassword)&nbsp;(Required)</span>
            @Html.PasswordFor(u => u.ConfirmPassword)
        </p>


        <p>
            <input type="submit" value="Register" />
        </p>
    }
</div>

